body{
    background-color:antiquewhite;
}

#main {
    width: 50%;
    margin:0 auto
}

canvas{
    border:3px solid black;
    padding: 10px;
    margin:3rem auto;
    display:block;
    width:400; 
    height:400
}

#buttons{
    margin:0 auto;
    margin-bottom:20px;
    text-align:center;
}

#canvasStart, #canvasPause {
    padding:1rem;
    background-color:brown;
    color:aliceblue;
    border: 5px dotted yellow;
    border-radius: 1px; 
}

#displayColor{
    font-size:24px;
    text-align:center;
    color:darkslategrey;
}
